body {
  background-color: black;
  color: white;
}

.heading {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: end;
}

h1 {
  width: 75%;
  height: 20%;
}

.desc {
  text-align: center;
  font-size: 13px;
}

.idk {
  font-size: 10px;
}

.form {
  text-align: center;
  position: relative;
  margin: auto;
  padding: 30px 10px 40px 10px;
  width: 30%;
  height: 230px;
  /* From https://css.glass */
  background-image: radial-gradient(circle,rgba(207, 187, 187, 0.792), rgba(228, 43, 43, 0.683));
  border-radius: 16px;
  box-shadow: 0px 0px 60px 7px rgba(230, 194, 66, 0.881);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
  border: 1px solid rgba(255, 255, 255, 0.99);
  
}

.logo {
  width: 13%;
  height: 5%;
  margin: 0;
  padding: 0;
}

.head{
    color: black;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px ;
    font-family: Arial, Helvetica, sans-serif;
}

.input1{
    border-radius: 6px;
    height: 25px;
    width: 190px;
}

.input2{
    height: 30px;
    width: 100px;
    font-size: 20px;
    margin-top: 15px;
    border-radius: 6px;
    background-color: burlywood;
    font-family: 'Times New Roman', Times, serif;
}

.link{
    color: red;
}

.link :before{
    color: burlywood;
}
