{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style_login.css' %}" />
  </head>

  <body>
    <div class="heading">
      <h1>Welcome to EDC auditions</h1>
      <div class="logo">
          <a href="https://www.edcnitd.co.in/">
          <img src="{% static 'edc_logo.png'%}" alt="logo" width="50%" >
          </a>
        </div>

    </div>
    <hr />

    <div class="desc">
      <h4>
        Login to your account to proceed to the questions <br />
        <br />
        <div class="idk">OR</div>
        <br />
        if you are here for the first time
        <br />
        Sign up for the auditions here ->
        <a href="{%url 'register'%}" class="link">Sign up!</a>
      </h4>
    </div>

    <br />
    <div class="form ">
      {% for message in messages%}
      <h3>{{message}}</h3>
      {%endfor%}
      <form action="" method="post">
        {% csrf_token%}
        <p class="head">Username:</p>
        <input class="input1" type="text" name="username" />
        <p class="head">Password:</p>
        <input class="input1" type="password" name="password" />
        <br /><br />
        <input class="input2" type="submit" />
      </form>
    </div>
  </body>
</html>
